*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    text-decoration: none;
}
a{list-style: none;}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.header-text,
.p-text{
    font-size: 30px;
    margin-bottom: 20px;
}
.header-text1{
    font-size: 30px;
    margin-top: 10px;
}
.p{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}    
span{
    color: crimson;
}
.a1{
    padding: 20px;
   display: flex;
   justify-content: end;}
.a-s-s{
    padding: 20px;
    display: flex;
    justify-content: space-between;align-items: center;
    
}
.perents{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}